body {
    /*width: 50%;*/
    font-family: 'Raleway', sans-serif;
    margin: 20px auto;
    padding: 20px;
}
.max-width-container {
    max-width: 1786px;
    width: 100%;


}

.footer{
    background-color: #e1e8f8;
    color: #000000;
    padding: 10px;
    height: 100px;
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.text-overlay2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.text-overlay3 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

header.nav ul li a {
    padding: 0;
    color: #e8a14d;
    font-weight: bold;

}
ul.nav li {
    margin-right: 20px;
}
.custom-carousel-image {
    height: 400px;
}
.carousel-caption {

    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
}

.carousel-caption h5 {
    margin-bottom: 0;
    font-size: 45px;
}
.carousel-caption p {
    text-align: center ;
}
.heading{
    padding: 20px;
}
.check-in{
    padding: 40px;

}

.check-in .check-in-tbl{
    height: 70px;
    width: 750px;
}
.icon{
    background-color: #1c4961;
    color: white;

}