body{
    /*width: 50%;*/
    margin: 20px auto;
    padding: 20px;
}

.footer{
    background-color: #e1e8f8;
    color: #000000;
    padding: 10px;
    height: 100px;
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.text-overlay2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.text-overlay3 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
header.nav a:first-child {

    color: #ff0000;
    font-weight: bold;

}

header.nav ul li a {

    color: #000000;

}
